@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item {
  font-size: 20px;
  color: rgb(0, 79, 128);
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px #23222287;
  }
  p {
    align-self: center;
  }
}
.span_item {
  align-self: center;
  span{
    padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
    transition: 0.25s all;

  }
  span:active{
    background: #ff2d2d87;
    box-shadow: 0 0 20px #ff2d2d87;
  }

}
