@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@mixin block-item{
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    
}


.sidebar{
    @include block-item();
    background: #e6e6fa;
    grid-area: side;
    display: flex;
    flex-direction: column;
    a{
        background: transparent;
        text-decoration: none;
        text-align: center;
        color: #28282b;
        border: 1px solid #28282b;
        border-radius: 5px;
        outline: none;
        margin: 10px 0;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;

    }
}